
@import url('https://fonts.googleapis.com/css2? family= Macondo & display=swap');

body {
    background-image: url("https://cdn.discordapp.com/attachments/884727009652125746/973369794994765824/fondo_4.png");
    background-repeat:repeat;
    margin: 0;
    font-family: 'Macondo'
}
.navbar{
    background: rgb(92, 88, 94);
    padding: 1em;
}
.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
nav{
    display:none;
}
.contact-cta{
    font-size: 2em;
}
.apoyar-cta{
    margin-top: .3em;
}
.container-barra{
    display:flex;
    justify-content: middle;
}
.mobile-menu{
    cursor:pointer;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
section{
    padding: 5em 2em;
}
.hero{
    justify-content: left;
    display:flex ;
    margin-left: 6em;
}
.titulillo{
    font-size: 4em;
    margin-top: 0;
    text-align: center;
    color: white;
    background-color:rgb(92, 88, 94) ;
}
.video{
    width: 900px;
    height: 500px;
    margin-top: 2em;
    margin-left: 20em;
}
.desc-peq{
    font-size: 2em;
    font-weight: bold;;
    text-align: center;
    color: white;
    background-color:rgb(92, 88, 94) ;
}
.subhead{
    text-transform:uppercase;
    font-weight: bold;
    letter-spacing: .3em;
    text-align: center;
    color: white;
    background-color:rgb(92, 88, 94) ;
    margin-top: -5em;
}
.portada{
    justify-content:center;
}
.img-port{
    width: 500px;
    height: 700px;
    margin-left: 35em;
}
.features-section{
    background: rgb(92, 88, 94);
}
ul.features-list{
    margin: 0;
    padding-left:-1em;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
li.fea-text{
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    position:relative;
    color:white;
}
.fea-text:before{
    content: '';
      left: -2em;
      position: absolute;
      width: 40px;
      height: 40px;
    background-image: url('https://cdn.discordapp.com/attachments/950507423813206027/973361337830866964/bola_de_dragon.png');
    background-size:2em;
      margin-right: .9em;
}
.features-section img{
    display:none;
}
.camp{
  font-size: 3em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.personajes{
  background: rgb(44, 41, 41);
  display: flex;
  justify-content: center;
}
.heroes{
    font-size: 3em;
    position: flex;
    margin-right: .5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pers{
  width: auto;
  display: flex;
  align-items: baseline;
}
.naruto{
    position: relative;
    width: 250px;
    align-items: baseline;
  }
  .image1 {
    display: block;
    width: 250px;
    height: 400px;
    box-align:left;
  }
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 250px;
    height: 0;
    transition: .5s ease;
  }
  .naruto:hover .overlay1 {
    height: 400px;
  }
  .text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .tanjiro{
    position: relative;
    width: 250px;
    align-items: baseline;
    margin-left: .5em;
  }
  .image2 {
    display: block;
    width: 250px;
    height: 400px;
    box-align:left;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 250px;
    height: 0;
    transition: .5s ease;
  }
  .tanjiro:hover .overlay2 {
    height: 400px;
  }
  .text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .goku{
    position: relative;
    width: 250px;
    align-items: baseline;
    margin-left: .5em;
  } 
  .image3 {
    display: block;
    width: 250px;
    height: 400px;
    box-align:left;
    margin-top: 3em;
  }
  .overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 250px;
    height: 0;
    transition: .5s ease;
  }
  .goku:hover .overlay3 {
    height: 400px;
  }
  .text3 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .deku{
    position: relative;
    width: 250px;
    align-items: baseline;
    margin-left: .5em;
  }
  .image4 {
    display: block;
    width: 250px;
    height: 400px;
    box-align:left;
    margin-top: 3em;
  }
  .overlay4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 250px;
    height: 0;
    transition: .5s ease;
  }
  .deku:hover .overlay4 {
    height: 400px;
  }
  .text4 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .kaneki{
    position: relative;
    width: 250px;
    align-items: baseline;
    margin-left: .5em;
  }
  .image5 {
    display: block;
    width: 250px;
    height: 400px;
    box-align:left;
    margin-top: 3em;
  }
  .overlay5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 250px;
    height: 0;
    transition: .5s ease;
  }
  .kaneki:hover .overlay5 {
    height: 400px;
  }
  .text5 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .acota{
    font-size: 1em;
  }
  .map{
      background-color:rgb(92, 88, 94) ;
      display: flex;
      justify-content: center;
  }
  .tit-map{
      font-size: 3em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .map-gen{
    margin-top: .5em;
  }
  .desc-map{
    text-align: center;
    color: white;
    background-color:rgb(48, 45, 49) 
  }
  /*inicio mapas*/
  .container-maps {
    position: relative;
  }
  .mySlides {
    display: flex;
    justify-content: middle;
    margin-left: 25em;
  }
  .cursor {
    cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    justify-content: middle;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 16.66%;
  }
  .demo {
    opacity: 0.6;
  }
  .active,
  .demo:hover {
    opacity: 1;
  }
  .map-gen{
      width: 600px;
      height: 600px;
  }
  /*fin de mapas*/
  .Merch{
    background: rgb(44, 41, 41);
    display: flex;
    justify-content: center;
  }
  .titu-merch{
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  #myImg1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg1:hover {opacity: 0.7;}
  .modal1 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    color:white;
  }
  .modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content1, #caption1 {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close1:hover,
  .close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px){
    .modal-content1 {
      width: 100%;
    }
  }
  #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg2:hover {opacity: 0.7;}
  .modal2 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    color:white;
  }
  .modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content2, #caption2 {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close2:hover,
  .close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px){
    .modal-content2 {
      width: 100%;
    }
  }
  #myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg3:hover {opacity: 0.7;}
  .modal3 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    color:white;
  }
  .modal-content3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content3, #caption3 {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close3:hover,
  .close3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px){
    .modal-content3 {
      width: 100%;
    }
  }
  #myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg4:hover {opacity: 0.7;}
  .modal4 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    color:white;
  }
  .modal-content4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content4, #caption4 {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close4:hover,
  .close4:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px){
    .modal-content4 {
      width: 100%;
    }
  }
  #myImg5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg5:hover {opacity: 0.7;}
  .modal5 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    color:white;
  }
  .modal-content5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content5, #caption5 {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close5:hover,
  .close5:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px){
    .modal-content5 {
      width: 100%;
    }
  }
  #myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg6:hover {opacity: 0.7;}
  .modal6 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    color:white;
  }
  .modal-content6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content6, #caption6 {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close6:hover,
  .close6:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px){
    .modal-content6 {
      width: 100%;
    }
  }
  .Tit-don{
    font-size: 3em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .dona{
    width: 600px;
    height: 700px;
    justify-content: center;
  }
  .Donaciones{
    background: rgb(20, 19, 19);
    display: flex;
    justify-content: center;
  }
  .enca{
    font-size: 2em;
    font-weight: bold;
  }
  .respuesta{
    font-size: 1.5em;
  }
  .preg-fre{
    background: rgb(68, 64, 64);
  display: flex;
  justify-content: center;
  color: white;
  }
  .titulo{
    color: white;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
label{
    display:block;
    font-size: 1.2em;
    margin-bottom: .5em;
}
input, textarea{
    width: 100%;
    padding:.8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}
input[type="submit"]{
    background-color: rgb(92, 88, 94);
    color:white;
    font-weight: bold;
    font-size: 1.3em;
    border:none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding:.8em 2em;
    width: unset;
    cursor: pointer;
}
nav.menu-btn{
    display: block;
}
nav{
    position: fixed;
    z-index:999;
    width: 66%;
    right: 0;
    top: 0;
    background: rgb(34, 33, 33);
    height: 100vh;
    padding:1em;
}
ul.primary-nav{
    margin-top: 5em;
}
.menu{
    color:white;
    text-decoration: none;
    display:block;
    padding: .5em;
    font-size: 2em;
    text-align: right;
}
.menu:hover{
    font-weight: bold;
}
.mobile-menu-exit{
    float:right;
    margin:.5em;
    cursor:pointer;
}
.discla{
  font-size: 2em;
  margin-top: 0;
  text-align: center;
  color: white;
  background-color:rgb(92, 88, 94) ;
}
@media only screen and (min-width: 768px){
    .mobile-menu, .mobile-menu-exit{
        display: none;
    }
    .navbar.container{
        display:grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }
    .navbar nav{
        display:flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .primary-nav{
        display: flex;
        margin:0;
    }
    .menu{
        padding: .1em 1em;
        color:black ;
        border: 3px solid black;
        font-weight: bold;
        border-radius: 5em;
        font-size: 2em;
    }
    .menu:hover {
        background: black;
        color: white;
    }
    li.apoyar-cta a{
    color:black ;
    border: 3px solid black;
    font-weight: bold;
    border-radius: 5em;
    font-size: 2em;
    }
    li.apoyar-cta a:hover {
        background: black;
        color: white;
    }
    .secondary-nav{
        margin-top: 2em;
        text-align: center;
    }
    .hero.container{
        text-align: center;
    }
}
@media only screen and (min-width: 1080x){
    .container{
        width: 1080px;
        margin: 0 auto;
    }
    section{
        padding: 10em 4em;
    }
    .hero.container{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .left-col{
        display: flex;
        margin: 3em 3em 0 5em;
        justify-content: middle;
    }
    ul.features-list{
        display: block;
        margin-left: 5em;
    }
    .fea-text{
        font-size: 1.4em;

    }
    .features-section{
        position: relative;
    }
    .features-section img{
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }
    .personajes{
        display: flex;
    }
    .per-lis{
        margin: 0 1em;
    }
    .contact-section {
        position: relative;
    }
    .container {
            display: flex;
    }
    .hero.container{
        text-align: center;
    }
}
.testimonials-section {
  background: rgb(91, 88, 95);
  color: white;
}
  .integ {
      background: #006BD6;
      text-align: center;
      padding: 2em 1em;
      width: 80%;
      margin: 0 auto 5em auto;
      border-radius: 1em;
  }
      .perfil1{
          width: 5em;
          height: 5em;
          border: 5px solid #006BD6;
          border-radius: 50%;
          margin-top: -4.5em;
      }
      .perfil2{
        width: 5em;
        height: 6em;
        border: 5px solid #006BD6;
        border-radius: 50%;
        margin-top: -4.5em;
    }
    .perfil3{
      width: 5em;
      height: 6em;
      border: 5px solid #006BD6;
      border-radius: 50%;
      margin-top: -4.5em;
  }
  .Funci{
    font-size: 3em;
  }
  .nomb{
    font-size: 2em;
  }
  .musica{
  background: rgb(19, 16, 16);
  display: flex;
  justify-content: center;
  }
  .tit-mus{
    font-size: 3em;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .red{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
    
